
@{
    ViewBag.Title = "NotFound";
}

<h2>:_(</h2>
<p>That restaurant is not found.</p>

<div>@Html.ActionLink("Back to List", "Index")</div>
<div>@Html.ActionLink("Back to HomePage", "Index", "Home")</div>

